<body class="body">
<div>
<div class="site-title"> Where has your money gone?
  <div class="site-description">
    See how much money you will waste this year due to wasted food
  </div>
  <button class="calculate-button button" type ="button" (click)="onCalculateClick()">Calculate</button>
</div>

<img class="bottomRight-image-container" src="/assets/LandingPageMoney.png">

<img class="middleRight-image-container" src="/assets/LandingPageFood5.png">

<img class="topRight-image-container" src="/assets/LandingPageFood4.png">

<img class="topMiddle-image-container" src="/assets/LandingPageFood3.png">

<img class="topLeft-image-container" src="/assets/LandingPageMoney.png">

<img class="middleLeft-image-container" src="/assets/LandingPageFood2.png">

<img class="bottomLeft-image-container" src="/assets/LandingPageMoney.png">

<img class="bottomMiddle-image-container" src="/assets/LandingPageFood1.png">
</div>
</body>
