* {
  font-family: 'Open Sans', sans-serif;
}

.site-title {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 400%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  width: auto;
  height: auto;
  max-width: 1000px;
  max-height: 500px;
  padding: 20px;
}

.site-description {
  font-size: 50%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: lighter;
}

.calculate-button {
  background-color: #6b8d7e;
  color: #fff;
  padding: 10px 30px;
  font-size: 60%;
  cursor: pointer;
  border: none;
}
.calculate-button:hover {
  background: #4a6d5e;
}

.button {
  border-radius: 10px;
}


/* resizing for later
@media all and (orientation: portrait) and (max-width: 812px) {
    .site-title {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 150%;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
    }
}
*/
