<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<div class="wrapper">
  <a class="navbar-brand">
    <img src="/assets/updatedbin.png" alt="" width="30" height="28" class="d-inline-block align-text-top">
    Money Bin
  </a>

  <div class="container">
  <!--Sally and estimate-->
    <div class="split left">

      <button type="submit" class="btn-image" (click)="changeLabelName()">
          <img class="thought-bubble" src="../../assets/thought_cloud_from_canva.png">
          <div class="bubble-text h2"> Hi I'm Sally! Click me, to increase your estimate!</div>
          <img class="sally" src="../../assets/sally2.gif"/>
      </button>
      <label #estimateInput class="estimateTerm">£ {{estimate}} estimated lost in food waste per week </label>
    </div>

    <!-- application description and calculate button-->
    <div class="split right">
      <!-- image to cover right hand contents -->
      <img src='../../assets/cloud_from_canva_cropped.png' class="cropped">
      <div class="content-right">
        <h1 class="header">Where has your money gone?</h1>
        <h2 class="subheader"> Click on the pot of money to increase your estimate of how much money you are losing per week from food waste. </h2>
        <button type="button" class="btn btn-outline-dark" name="button" (click)="onCalculateClick()">Calculate how much you're actually losing</button>
      </div>
    </div>
  </div>
</div>
