.site-title {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 400%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
.site-description {
    font-size: 50%;
    text-align: center;
    padding-top: 40px;
    font-weight: lighter;
}

.calculate-button {
    background-color: #6b8d7e;
    color: white;
    font-size: 50%;
    padding: 5px 20px;
    font-style: italic;
}

.button {border-radius: 12px;}

.bin-image-container {
    position: fixed;
    transform: translate(325%, 95%);
    width: 450px;
    max-height: 500px;
  }

.bin-image-container img{
  width: 100%;
  height: auto;
}

.money-gif-container {
  position: absolute;
  transform: translate(435%, -5%);
  width: 350px;
  height: 450px;
}

.money-gif-container img{
  width: 100%;
  height: 100%;
}

.pagename-container{
  position: absolute;
  transform: translate(25%, 0%);
  font-family: 'Londrina Solid', cursive;
  font-weight: bolder;
  font-size: xxx-large;
  text-align: center;
}
