<form>
    <div class="food-manager-container">
        <div class="sidebar">
            <h1 class="has-text-primary">Search for food...</h1>
            <input type="text" class="form-control has-background-light" [formControl]="searchControl" placeholder="Enter a food item">
            <button class="btn btn-primary" (click)="onSearch()" >Enter</button><br>
            <div class="food-list-container">
            </div>
        </div>
        <div class="food-details-container">
            <div class="food-details" *ngIf="fooditem">
                <button class="btn btn-danger food-details-close pull-right" [routerLink]="['/search']">x</button>
                <p class="white-text">
                    Name: {{ fooditem.name }}<br>
                    Mass: {{ fooditem.mass }}<br>
                    Cost: {{ fooditem.cost }}<br>
                    Category: {{ fooditem.category }}<br>
                </p>
                <button class="btn btn-primary delete-food-text" (click)="onDeleteClick(fooditem)">Delete food item</button><br>
                <button class="btn btn-light create-food-text" (click)="onAddToBinClick(fooditem)">Add food item to bin</button><br>
            </div>
        </div>
    </div>
</form>