<form>
    <div class="food-manager-container">
        <div class="sidebar">
            <h1 class="has-text-primary">Search for food...</h1>
            <input type="text" class="form-control has-background-light" [formControl]="searchControl" placeholder="Enter a food item">
            <button type="button" class="btn btn-primary" (click)="onSearch()">Search</button><br>
            <div class="food-list-container">
                <a class="food-item" *ngFor="let food of fooditems" (click)="onMoreDetails()" [routerLink]="['/search/moredetails',food.name]">{{ food.name }}</a>
            </div>
        </div>
        <div class="food-details-container">
            <div class="food-details" *ngIf="fooditem">
                <button class="btn btn-danger food-details-close pull-right" [routerLink]="['/search']">x</button>
                <p class="white-text">
                    Name: {{ fooditem.name }}<br>
                    Mass: {{ fooditem.mass }}<br>
                    Cost: {{ fooditem.cost }}<br>
                    Category: {{ fooditem.category }}<br>
                </p>
            </div>
        </div>
    </div>
</form>