<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="onNavClick()">
      <img src="/assets/bin.png" alt="" width="30" height="28" class="d-inline-block align-text-top">
      Money Bin
    </a>
  </div>
</nav>

<section class="faq-section">
    <div class="right">
        <div class="container">
            <div class="row">
                <!-- ***** FAQ Start ***** -->
                <div class="col-md-6 offset-md-3">

                    <div class="faq-title text-center pb-3">
                        <h2>About us</h2>
                    </div>
                </div>

                <div class="col-md-6 offset-md-3">
                    <div class="faq" id="accordion">
                        <div class="card">
                            <div class="card-header" id="faqHeading-1">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                        What is Money Bin?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        This web application's primary objective is to increase awareness 
                                        about household food waste. Moreover, it also aims to nudge people's 
                                        behaviour into taking food waste more seriously and ultimately contribute 
                                        to the reduction of it.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="faqHeading-2">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                        How does it work?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        1. Imput all the food items you have wasted
                                        <br>
                                        2. Select your desired quantity for each item
                                        <br>
                                        3. Hit 'calculate money wasted'
                                        <br>
                                        4. Money Bin generates total cost of your binned items and gives you
                                        an estimate of the money you could've saved.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="faqHeading-3">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                                        Why reduce food waste?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Did you know that UK households waste 7.1m tonnes of food per year?
                                        On top of this, 5m tonnes of this is edible!!<br>
                                        This have a huge impact on the planet because food waste produces
                                        a potent greenhouse gas.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="faqHeading-4">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                                        What can I do to reduce my waste?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        1. <b>Plan your meals for the week and get more for your money</b><br>
                                        <br>
                                        By planning out each meal of the week, you can prevent over-buying
                                        and ensure that every food item get used by the end of the week.<br>
                                        <br>
                                        2. <b>Preserve your food to make it last longer</b><br>
                                        <br>
                                        For items you know is about to expire, you can freeze the items for when you are
                                        ready to use them.<br>
                                        <br>
                                        A common misconception is the 'best before' date. This date simply state that
                                        the food item might be best to consumed before that date, but it doesn't necessary
                                        mean that the food will go off by that date. Make sure to check if the food is edible
                                        even if it is past the best before date.<br>
                                        <br>
                                        3. <b>Check if your fridge is at the right temperature</b><br>
                                        <br>
                                        Many food items such as fruit/vegetables can go bad more quickly if the temperature
                                        in your fridge is too high. Similarly with meat, fish and poultry, it can go bad if your
                                        fridge temperature is too low.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="left">
        <tr>
            <td><img src="assets/zain.png" alt="icon of Zain"><p>Zain</p></td>
            <td></td>
            <td><img src="assets/jess.png" alt="icon of Jess"><p>Jess</p></td>
        </tr>
        <tr>
            <td></td>
            <td><img src="assets/alex.png" alt="icon of Alex"><p>Alex</p></td>
            <td></td>
        </tr>
        <tr>
            <td> <img src="assets/gabriel.png" alt="icon of Gabriel"><p>Gabriel</p></td>
            <td></td>
            <td><img src="assets/anita.png" alt="icon of Anita"><p>Anita</p></td>
        </tr>
    </table>
</section>
