* {
  font-family: 'Open Sans', sans-serif;
}

.navbar-brand {
  font-family: 'Gaegu', cursive;
  color: #000000;
  cursor: pointer;
  font-size: 1.5em;
}

.navbar-brand:hover {
  color: #686868;
}

.wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
}

.faq-section {
  height: 100vh;
  padding: 10vh 0 0;
}

.split {
  position: absolute;
  height: 100vh;
  overflow: hidden;
}

.split.left {
  position: relative;
  margin: 0;
  flex: 1;
  margin-left: 3%;
  width: 40vw;
}

.left img {
  height: 22vh;
  width: 12vw;
}

.left p {
  text-align: center;
  font-style: italic;
}

.split.right {
  width: 60vw;
  right: 0;
  float: right;
  margin-top: 5%;
  position: absolute;
}

.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  font-size: 3vw;
}

.faq-title h2::before {
  content: "";
  position: absolute;
  left: 40%;
  width: 7vw;
  height: 2px;
  background: #000000;
  bottom: -25px;
  margin-left: -30px;
}

.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #CEE1F8;
}

.faq .card .card-header {
  padding: 0;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
  background: #dedede;
  padding-left: 10px;
}

.faq .card .card-header .faq-title {
  width: 40vw;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 1vw;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 0.8vw;
  color: #6F8BA4;
  line-height: 2.5vh;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

#last-card {
  height: 30vh;
}

#last-card p {
  padding: 30px;
}

#last-card strong {
  font-weight: bold;
}

/*@media (max-width: 991px) {*/
/*  .faq {*/
/*    margin-bottom: 30px;*/
/*  }*/
/*  .faq .card .card-header .faq-title {*/
/*    line-height: 26px;*/
/*    margin-top: 10px;*/
/*  }*/
/*}*/

@media all and (orientation: landscape) {

  @media (max-width: 767px) {
    .split.right {
      display: flex;
      justify-content: center;
      margin-top: 0;
    }

    .faq-section {
      padding: 0;
    }

    .faq {
      width: 45vw;
      transform: translate(20%, 0);
    }


    .faq .card .card-header .faq-title {
      font-size: 1.5vw;
      height: 10vh;
    }

    .faq .card .card-body {
      font-size: 1.5vw;
    }

    #last-card {
      height: 20vh;
    }
  }

  @media (min-width: 768px) and (max-width: 1100px) {

    .split.right {
      display: flex;
      justify-content: center;
    }

    .faq-section {
      padding: 0;
    }

    .faq {
      width: 40vw;
      transform: translate(-10%, 0);
    }

    .faq .card .card-header .faq-title {
      font-size: 1.5vw;
    }

    .faq .card .card-body {
      font-size: 1.5vw;
    }
  }
}

  @media all and (orientation: portrait) {

    .split.left {
      height: 48vh;
      width: 100vw;
      top: 0;
    }

    table {
      table-layout: fixed;
      width: 100vw;
    }
    .faq-section {
      padding: 0;
    }

    .left img {
      height: 12vh;
      width: 22vw;
    }

    .split.right {
      height: 52vh;
      width: 100vw;
      bottom: 0;
    }

    .faq {
      width: 80vw;
      transform: translate(-22%, 0);
    }

    .faq .card .card-header .faq-title {
      font-size: 2vw;
      padding-right: 0;
    }
    .faq .card .card-body {
      font-size: 2vw;
    }
    #last-card {
      height: 15vh;
    }

    #last-card p {
      padding: 30px;
    }

    #last-card strong {
      font-weight: bold;
    }

    @media (max-height: 900px){
      .split.left {
        height: 38vh;
        width: 100vw;
      }
      .left img {
        height: 9vh;
        width: 14vw;
      }
      .split.right {
        height: 62vh;
        width: 100vw;
      }
      .faq {
        width: 90vw;
        transform: translate(5%, 0);
      }
      .faq-title h2 {
        font-size: 7vw;
      }
      .faq-title h2::before {
        width: 20vw;
      }
      .faq .card .card-header .faq-title {
        font-size: 3vw;
        padding-right: 0;
        padding-bottom: 10px;
      }
      .faq .card .card-body {
        font-size: 2.5vw;
      }
      #last-card {
        height: 15vh;
      }
    }
  }

