<style>
@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@700&display=swap');
</style>

<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="onNavClick()">
      <img src="/assets/updatedbin.png" alt="" width="30" height="28" class="d-inline-block align-text-top">
      Money Bin
    </a>
  </div>
</nav>

<div class="wrapper">
    <div class="faq-section">
      <div class="split right">
        <div class="container">
            <div class="row">
                <!-- ***** FAQ Start ***** -->
                <div class="col-md-6 offset-md-3">

                    <div class="faq-title text-center pb-3">
                        <h2>About us</h2>
                    </div>
                </div>

                <div class="col-md-6 offset-md-3">
                    <div class="faq" id="accordion">
                        <div class="card">
                            <div class="card-header" id="faqHeading-1">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-1" data-aria-expanded="true" data-aria-controls="faqCollapse-1">
                                        What is Money Bin?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-1" class="collapse" aria-labelledby="faqHeading-1" data-parent="#accordion">
                                <div itemSize="5" class="card-body">
                                    <p>
                                        This web application's primary objective is to increase awareness
                                        about household food waste. Moreover, it also aims to nudge people's
                                        behaviour into taking food waste more seriously and ultimately contribute
                                        to the reduction of it.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="faqHeading-2">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-2" data-aria-expanded="false" data-aria-controls="faqCollapse-2">
                                        How does it work?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-2" class="collapse" aria-labelledby="faqHeading-2" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        1. Input how much money you think you're wasting due to food waste
                                        <br>
                                        2. Input all the food items you have wasted
                                        <br>
                                        2. Select your desired quantity for each item
                                        <br>
                                        3. Hit 'calculate money wasted'
                                        <br>
                                        4. Money Bin generates the total cost of your binned items and gives you
                                        an estimate of the money you could've saved in a year.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="faqHeading-3">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-3" data-aria-expanded="false" data-aria-controls="faqCollapse-3">
                                        Why reduce food waste?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-3" class="collapse" aria-labelledby="faqHeading-3" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        Globally, around 1 trillion tonnes of food is wasted or lost every year.
                                        The carbon footprint of food this is estimated at 3.3 billion tonnes of CO2.
                                        This is equivalent to 60,000 commercial planes worth of carbon dioxide going
                                        straight to our ozone layer.

                                        Let's take care of our planet!
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-header" id="faqHeading-4">
                                <div class="mb-0">
                                    <h5 class="faq-title" data-toggle="collapse" data-target="#faqCollapse-4" data-aria-expanded="false" data-aria-controls="faqCollapse-4">
                                        What can I do to reduce my waste?
                                    </h5>
                                </div>
                            </div>
                            <div id="faqCollapse-4" class="collapse" aria-labelledby="faqHeading-4" data-parent="#accordion">
                                <cdk-virtual-scroll-viewport itemSize="20" class="card-body" id="last-card">
                                    <p>
                                        <strong>1. Plan your meals for the week and get more for your money</strong><br>
                                        <br>
                                        By planning out each meal of the week, you can prevent over-buying
                                        and ensure that every food item get used by the end of the week.<br>
                                        <br>
                                        <strong>2. Preserve your food to make it last longer</strong><br>
                                        <br>
                                        For items you know is about to expire, you can freeze the items for when you are
                                        ready to use them.<br>
                                        <br>
                                        A common misconception is the 'best before' date. This date simply state that
                                        the food item might be best to consumed before that date, but it doesn't necessary
                                        mean that the food will go off by that date. Make sure to check if the food is edible
                                        even if it is past the best before date.<br>
                                        <br>
                                        <strong>3. Check if your fridge is at the right temperature</strong><br>
                                        <br>
                                        Many food items such as fruit/vegetables can go bad more quickly if the temperature
                                        in your fridge is too high. Similarly with meat, fish and poultry, it can go bad if your
                                        fridge temperature is too low.
                                    </p>
                                </cdk-virtual-scroll-viewport>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

      <div class="split left">
        <table>
            <tr>
                <td><img src="assets/zain.png" alt="icon of Zain"><p>Zain</p></td>
                <td></td>
                <td><img src="assets/jess.png" alt="icon of Jess"><p>Jess</p></td>
            </tr>
            <tr>
                <td></td>
                <td><img src="assets/alex.png" alt="icon of Alex"><p>Alex</p></td>
                <td></td>
            </tr>
            <tr>
                <td> <img src="assets/gabriel.png" alt="icon of Gabriel"><p>Gabriel</p></td>
                <td></td>
                <td><img src="assets/anita.png" alt="icon of Anita"><p>Anita</p></td>
            </tr>
        </table>
          </div>
    </div>
  </div>
