.maxsize {
  width: 30vw;
  height: 50vh;
}

.search-bar {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #272C35;
  border-right: none;
  padding: 20px;
  height: 41px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #272C35;
  background-color: #FEFAFA;
  font-size: 17px;
}

.searchTerm:focus{
  color: #272C35;
}

.searchButton {
  width: 45px;
  height: 46px;
  border: 1px solid #272C35;
  background: #272C35;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background: #464646;
}

.wrap {
  width: 20%;
  position: absolute;
  top: 32%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.results-buttons {
  background-color: white;
  width: 100%;
}

.search-results {
  height: 650px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

@media all and (orientation: portrait) {

  .maxsize {
    width: 60vw;
    height: 20vh;
  }
}

@media all and (orientation: landscape) {

  @media (max-width: 640px){
    .searchTerm {
      font-size: 2vw;
    }
  }
}
