/* style of the search bar */
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #5E8976;
  border-right: none;
  padding: 20px;
  height: 41px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #272C35;
  font-size: 17px;
}

.searchTerm:focus{
  color: #272C35;
}

.searchButton {
  width: 45px;
  height: 46px;
  border: 1px solid #5E8976;
  background: #5E8976;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

button:hover {
  background: #4a6d5e;
}


/* resize the wrap to see the search bar change!*/
.wrap {
  width: 20%;
  position: absolute;
  top: 32%;
  left: 30%;
  transform: translate(-50%, -50%);
}
