<nav class="navbar">
    <div class="container-fluid">
      <a class="navbar-brand" (click)="onNavClick()">
        <img src="/assets/bin.png" alt="" width="30" height="28" class="d-inline-block align-text-top">
        Money Bin
      </a>
    </div>
  </nav>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

<body>
    <div class = first_message>
        <div class = "first_message_content">
            <h1>${{totalCost.toFixed(2)}} in food waste</h1>
            {% if {{totalCost.toFixed(2)}} > 356 %}
            <p>That is X dolllars more than the average person in the UK.</p>
            {% else %}
            <p>That is Y dolllars less than the average person in the UK.</p>
            {% endif %}
        </div>
    </div>
    <div class = "image">
        <img src ="/assets/pileofmoney.gif" alt = "money_gif">
    </div>
    <div class ="second_message">
        <div class = "second_message_content">
            <p>Reduce your food waste and save $X this year.</p>
        </div>
    </div>
</body>
