<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">


<div class="wrapper">
    <div class="container">
    <div class="split left">
      <div class="thought-bubble-container">
        <div class="text-container">
        <h1 class="header-text">£{{binTotal.toFixed(2)}} in food waste yearly</h1>
        <p class="other-text">You guessed £{{ weeklyEstimate }}/week or £{{ yearlyEstimate }}/year in food waste. Over the year you'll actually lose £{{binTotal.toFixed(2)}}.
          {{displayText}}</p>
        </div>
        <img class="thought-bubble" src="../../assets/cloudbubblebig.png">
      </div>
      <div class="bottom-container">
        <button class="icon-div" mat-button (click)="onNavClick()">
          <fa-icon [icon]="faPowerOff"></fa-icon>
          Start over
        </button>
      </div>
    </div>
      <div class="split right">
        <div class="sally-div">
          <div class="thinking-cloud">
            <p>Are you convinced now to reduce your food waste?</p>
            <img class="think" src="assets/thought_cloud_from_canvaflip.png" />
          </div>
           <img class="sally" src="../../assets/sally2.gif" />
      </div>
        <div class="bottom-right-container">
          <div class="share-div">
          Share results
          <button class="fb-button" mat-fab>
            <fa-icon [icon]="faFacebook" (click)="fbShare()"></fa-icon>
          </button>
          <button class="twitter-button" mat-fab>
            <fa-icon [icon]="faTwitter"></fa-icon>
          </button>
          </div>
        </div>
      </div>
  </div>
</div>
