<body>
    <div class = first_message>
        <div class = "first_message_content">
            <h1>$300 in food waste</h1>
            <p>Over the year, you will waste $300 in food waste. That's more wasted than the majority of people in the UK.</p>
        </div>
    s
    
        <img src ="https://media.giphy.com/media/PqVBpJna7r8Gs/giphy.gif" alt = "money_gif">
    </div>
    <div class ="second_message">
        <div class = "second_message_content">
            <p>Reduce your food waste and save $300 this year.</p>
        </div>
    </div>
</body>
</html>