
* {
  font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #fff6e3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/*h1, p {
    //text-align: center;
}*/

/* First message */

.first_message {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 15%;
    text-align: left;
}

.first_message_content {
    flex-direction: column;
    width: 40%;
    padding-top: 4rem;
    align-items: center;
    text-align: left;
}

.first_message_content h1 {
    font-weight: bold;
    font-size: 3rem;
    padding-bottom: 2rem;
    text-align: left;
}

.first_message_content p {
    font-size: 1.5rem;
    text-align: left;

}

/* Image  */
.image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image img {
    width: 25%;
    position: absolute;
    right: 15%;
    top: 25%;
}

/* Second message */

.second_message {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 4rem;
}

.second_message_content {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin-bottom: 5%;
}

.second_message p {
    font-size: 1.7rem;
}


@media all and (orientation: portrait) and (max-width: 812px) {
    .first_message_content {
        padding-top: 0rem;
    }

    .second_message {
        padding-bottom: 0rem;
    }

    .image img {
        width: 45%;
    }
}
