* {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

.split {
  position: absolute;
  height: 100vh;
  overflow: hidden;
}

.split.left {
  position: absolute;
  top:0;
  z-index: 1;
  width: 55vw;
  height: 100vh;
  left: 0;
}

.thought-bubble-container{
  position: absolute;
  width: 55vw;
  height: 85vh;
  top: 0;
}

.thought-bubble {
  position: absolute;
  bottom: 0;
  width: 55vw;
  height: 90vh;
  z-index: -1;
}

.text-container {
  position: absolute;
  top: 30%;
  width: 45vw;
  height: 50vh;
}

.header-text {
  position: absolute;
  font-size: 5vw;
  font-weight: bolder;
  top: 0;
  width: 45vw;
  text-align: center;
}

.other-text {
  position: absolute;
  font-size: 2vw;
  top: 50%;
  width: 40vw;
  left: 5%;
}


.bottom-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 55vw;
  height: 15vh;
}

.icon-div {
  font-size: 3vw;
  font-weight: bold;
  text-align: center;
  height: 11.5vh;
  width: 18vw;
  border-radius: 20px;
}

.split.right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45vw;
  right: 0;
}

.sally-div {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  width: 45vw;
  top: 0;
}

.sally {
  position: absolute;
  width: 20vw;
  height: 30vh;
  left: 20%;
  top: 45%;
}

.thinking-cloud {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37.5vh;
  width: 22.5vw;
  top: 5%;
  right: 5%;
}

.think {
  position: absolute;
  height: 37.5vh;
  width: 22.5vw;
}

.thinking-cloud p {
  font-size: 2vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
  width: 13.5vw;
  height: 18.75vh;
  padding-bottom: 10%;
}

.bottom-right-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  width: 45vw;
  height: 25vh;
  font-size: 2vw;
  font-weight: bolder;
}

.share-div {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22.5vw;
  height: 12.5vh;
}

.fb-button {
  background-color: black;
  font-size: 1.75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 4vw;
}

.twitter-button {
  background-color: black;
  font-size: 1.75vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 4vw;
}

@media all and (orientation: landscape) and (max-height: 462px) and (min-width: 1585px){

  .thinking-cloud p{
    margin-top: 5%;
  }

}

@media all and (orientation: landscape) and (min-width: 993px) and (max-width: 1584px) and (min-height: 544px){

  .thinking-cloud p{
    margin-top: 5%;
  }

}

@media all and (orientation: landscape) and (min-width: 993px) and (max-width: 1584px) and (min-height: 375px) and (max-height: 543px){

  .text-container {
    top: 25%;
  }

  .thinking-cloud p{
    margin-top: 5%;
  }

}

@media all and (orientation: landscape) and (min-width: 993px) and (max-width: 1584px) and (max-height: 374px){


  .thinking-cloud p{
    margin-top: 5%;
  }

}

@media all and (orientation: landscape) and (min-width: 800px) and (max-width: 992px) and (min-height: 544px){

  .thinking-cloud p{
    margin-top: 5%;
  }

}

@media all and (orientation: landscape) and (min-width: 800px) and (max-width: 992px) and (min-height: 375px) and (max-height: 543px){

  .thinking-cloud p{
    margin-top: 5%;
  }

  .icon-div {
    margin-right: 40%;
  }

}

@media all and (orientation: landscape) and (min-width: 800px) and (max-width: 992px) and (max-height: 374px){

  .thinking-cloud p{
    margin-top: 5%;
  }

}

@media all and (orientation: landscape) and (max-width: 799px) and (max-height: 374px){

  .text-container {
    top: 20%;
  }

  .thinking-cloud p{
    margin-top: 5%;
  }

  .icon-div {
    margin-right: 40%;
  }

}

@media all and (orientation: landscape) and (max-width: 799px) and (min-height: 375px){

  .thinking-cloud p{
    margin-top: 5%;
  }

  .icon-div {
    margin-right: 40%;
  }

}



@media all and (orientation: portrait)  {

  .split.left {
    width: 100vw;
    height: 50vh;
    top: 0;
  }

  .thought-bubble-container {
    width: 100vw;
    height: 40vh;
  }

  .thought-bubble {
    width: 100vw;
    height: 40vh;
  }

  .text-container {
    width: 90vw;
    height: 40vh;
  }

  .header-text {
    width: 90vw;
    font-size: 7vw;
  }
  .other-text {
    width: 90vw;
    top: 20%;
    font-size: 4vw;
  }

  .bottom-container {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-div {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
  }

  .split.right {
    width: 100vw;
    height: 50vh;
    bottom: 0;
  }

  .sally-div {
    width: 50vw;
    height: 50vh;
    bottom: 0;
    left: 0;
  }

  .bottom-right-container {
    width: 50vw;
    height: 50vh;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .share-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 5vw;
    width: 50vw;
    height: 30vh;
  }

  .fb-button{
    font-size: 7vw;
    height: 10vh;
    width: 15vw;
  }

  .twitter-button {
    font-size: 7vw;
    height: 10vh;
    width: 15vw;
  }

  .sally {
    width: 30vw;
    height: 30vh;
    bottom: 0;
    left: 0;
  }

  .think {
    height: 30vh;
    width: 30vw;
    top: 0;
  }

  .thinking-cloud p {
    top: 10%;
    font-size: 4vw;
    right: 30%;
  }

}
