
* {
  font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #fff6e3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/* First message */

.first_message {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}


.first_message_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.first_message_content h1 {
    font-weight: bold;
    padding-bottom: 1rem;
    font-size: 3rem;
   /* padding-bottom: 2rem;
    text-align: left;*/
}

.first_message_content p {
    font-size: 1.5rem;
    /*text-align: left;*/

}

/* Image  */
.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 5%;
}

/*.image img {
    width: 25%;
    position: absolute;
    right: 15%;
    top: 25%;
}*/

/* Second message */

.second_message {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 4rem;
    text-align: center;
}

.second_message_content {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
   /* margin-bottom: 5%;*/
}

.second_message p {
    font-size: 1.7rem;
}

/* Social media buttons */

.sharing {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sharing .message {
    font-size: 1.7rem;
}

.link-button button {
    padding: 0.28rem;
    border-radius: 5px;
    background: #5e8976;
    color: white;
}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 25%;
}

.button {
    display: flex;
    color: white;
}



@media all and (orientation: portrait) and (max-width: 812px) {
    
    .first_message_content {
        padding-top: 0rem;
    }

    .second_message {
        padding-bottom: 0rem;
    }

    .image img {
        width: 45%;
    }

    .sharing {
        flex-direction: column;
    }

    .buttons {
        justify-content: center;
        width: 100%;
    }
}
