/* Overall */
html {
    font-size: 16px;
    color: black;
  }

body {
    background-color: #fff6e3;
    min-height: 100vh;
}

/* First message */

.first_message {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.first_message_content {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 4rem;
    align-items: center;
}

.first_message_content h1 {
    font-weight: bold;
    font-size: 3rem;
    padding-bottom: 1.5rem;
}

.first_message_content p {
    font-size: 1.5rem;
}

/* Image  */
.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
}

.image img {
    width: 20%;
    position: relative;
    right: 20px;
}

/* Second message */

.second_message {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.second_message_content {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
}

.second_message p {
    font-size: 1.7rem;
}