* {
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  position: relative;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.title-style {
  max-width: 100%;
  width: 100%;
  max-height: 10%;
  height: 100%;
  font-weight: bolder;
  font-size: 45px;
  text-align: center;
  position: absolute;
  color: #272C35;
}

.search-bin-container {
  max-width: 1000px;
  max-height: 800px;
  width: 100%;
  height: 100%;
  transform: translate(0%, 0%);
  top: 10%;
  left: 2%;
  position: absolute;
}

.bin-image {
  max-width: 60%;
  max-height: 70%;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  right: 50%;
  transform: translate(50%, 0%);
  z-index: -1;
}

.search {
  position: relative;
  top: 20%;
  left: 25%;
}
  .right-side-container {
    max-height: 830px;
    max-width: 800px;
    height: 100%;
    width: 100%;
    right: 2%;
    top: 10%;
    position: absolute;
  }

.receipt {
  max-width: 70%;
  max-height: 92%;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0 rgba(0,0,0,0.10);
  border-radius: 6px;
  /*flex-direction: column;*/
  transform: translate(0%, 0%);
  margin: 0 auto;
}

.heading {
  max-height: 15%;
  height: 100%;
  text-align: center;
  border-bottom: 2px solid #272C35;
  color: #000000;
}

.heading-line {
  padding-top: 1%;
  font-size: 35px;
  font-weight: bolder;
}

.heading-sub-line {
  font-size: 25px;
  font-weight: lighter;
}

.sub-heading {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  background: #FFFFFF;
  max-height: 6.5%;
  height: 100%;
  padding-top: 1%;
  border-bottom:  2px solid #272C35;
}
.sub-heading-text {
  font-size: 22px;
}

.item-full{
  max-height: 72%;
  height: 100%;
}

.item {
  /*padding: 20px 30px;*/
  padding-top: 2%;
  max-height: 10%;
  height: 100%;
  display: flex;
}

.sub-item {
  border-top: 2px solid #272C35;
  max-height: 8%;
  height: 100%;
  display: flex;
  bottom: 0;
}

.description {
  width: 50%;
  text-align: center;
  font-size: 20px;
}

/*.description span {*/
/*  display: block;*/
/*  font-size: 15px;*/
/*  color: #272C35;*/
/*  font-weight: 400;*/
/*  width: 130px;*/
/*}*/

/*.description span:first-child {*/
/*  margin-bottom: 5px;  width: 50%;*/
/*  text-align: center;*/
/*  font-size: 19px;*/
/*}*/

/*.description span:last-child {*/
/*  font-weight: 300;*/
/*  margin-top: 8px;*/
/*  color: #272C35;*/
/*}*/

.quantity {
  width: 50%;
  text-align: center;
}

.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 15%;
  font-size: 20px;
  color: #272C35;
  font-weight: 300;
}

button[class*=btn] {
  max-width: 25px;
  max-height: 25px;
  height: 100%;
  width: 100%;
  font-size: 15px;
  background-color: #272C35;
  border-radius: 15px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
}

button[class*=btn]:hover {
  background-color: #434343;
}

button span {
  color: #ffffff;
}

button:focus,
input:focus {
  outline:0;
}

.sub-description {
  width: 50%;
  padding-top: 2%;
  text-align: center;
  font-size: 22px;
}

.item-count {
  width: 50%;
  text-align: center;
  padding-top: 2%;
  font-size: 22px;
  color: #43484D;
  font-weight: 300;
}

/* Style of calculate button */
.calculate-button {
  margin: auto;
  position: absolute;
  bottom: 1%;
  right: 50%;
  transform: translate(50%, 0%);
  width: 70%;
}

.calculate-button button {
  height: 45px;
  border: 1px solid #5E8976;
  padding-left: 15px;
  padding-right: 15px;
  background: #4D4D4D;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  width: 100%;
}

.calculate-button button:hover {
  background: #272C35;
}

.mad-closing-class {
  color: #000000;
  cursor: pointer;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

@media all and (orientation: landscape) and (min-width: 922px) and (max-width: 1919px) and (min-height: 640px){

  .title-style{
    font-size: 250%;
    width: 100%;
    height: 10%;
    color: #272C35;
  }
  .search-bin-container {
    height: 85%;
    width: 50%;
  }

  .right-side-container {
    height: 87%;
    width: 60%;
    right: -5%;
  }

  .receipt {
    height: 90%;
  }
  .heading {
    height: 75%;
  }
  .heading-line {
    font-size: 150%;
  }
  .heading-sub-line {
    font-size: 150%;
  }
  .sub-heading {
    height: 75%;
  }
  .sub-heading-text {
    font-size: 150%;
  }
  .item-full {
    height: 100%;
  }
  .item {
    height: 75%;
  }

  .description {
    font-size: 125%;
  }
  .quantity {
    font-size: 125%;
  }

  .sub-item {
    height: 75%;
  }

  .sub-description {
    font-size: 125%;
  }

  .item-count {
    font-size: 125%;
  }

  .calculate-button button {
    font-size: 115%;
  }
}
@media all and (orientation: landscape) and (min-width: 922px) and (max-width: 1919px) and (min-height: 563px) and (max-height: 639px){

  .title-style{
    font-size: 250%;
    width: 100%;
    height: 10%;
    color: #272C35;
  }
  .search-bin-container {
    height: 85%;
    width: 50%;
  }

  .right-side-container {
    height: 90%;
    width: 60%;
    right: -5%;
    top: 10%;
  }

  .receipt {
    height: 85%;
  }
  .heading {
    height: 50%;
  }
  .heading-line {
    font-size: 100%;
  }
  .heading-sub-line {
    font-size: 100%;
    padding-bottom: 1%;
  }
  .sub-heading {
    height: 75%;
    padding-bottom: 4%;
  }
  .sub-heading-text {
    font-size: 100%;
  }
  .item-full {
    height: 60%;
  }
  .item {
    height: 75%;
  }

  .description {
    font-size: 100%;
  }

  .quantity input {
    font-size: 100%;
  }


  .sub-item {
    height: 75%;
    transform: translate(0%, 120%);
  }

  .sub-description {
    font-size: 100%;
  }

  .item-count {
    font-size: 125%;
  }

  .calculate-button button {
    font-size: 115%;
  }
}

@media all and (orientation: landscape) and (min-width: 922px) and (max-width: 1919px) and (max-height: 562px){

  .title-style{
    font-size: 250%;
    width: 100%;
    height: 10%;
    color: #272C35;
  }
  .search-bin-container {
    height: 85%;
    width: 50%;
  }

  .right-side-container {
    height: 100%;
    width: 60%;
    right: -5%;
    top: 0
  }

  .receipt {
    height: 85%;
  }
  .heading {
    height: 50%;
  }
  .heading-line {
    font-size: 100%;
  }
  .heading-sub-line {
    font-size: 100%;
    padding-bottom: 1%;
  }
  .sub-heading {
    height: 75%;
    padding-bottom: 4%;
  }
  .sub-heading-text {
    font-size: 100%;
  }
  .item-full {
    height: 60%;
  }
  .item {
    height: 75%;
  }

  .description {
    font-size: 100%;
  }

  .quantity input {
    font-size: 100%;
  }


  .sub-item {
    height: 75%;
  }

  .sub-description {
    font-size: 100%;
  }

  .item-count {
    font-size: 125%;
  }

  .calculate-button button {
    font-size: 115%;
  }
}

@media all and (orientation: landscape) and (max-width: 921px) and (min-height: 640px){
  .title-style {
    font-size: 120%;
    width: 100%;
    color: #272C35;
  }
  .search-bin-container {
    height: 85%;
    width: 50%;
  }

  .search {
    top: 16%;
    left: 25%;
  }
  .right-side-container {
    height: 87%;
    width: 60%;
    right: -5%;
  }

  .receipt {
    height: 85%;
  }
  .heading {
    height: 75%;
  }
  .heading-line {
    font-size: 150%;
  }
  .heading-sub-line {
    font-size: 150%;
  }
  .sub-heading {
    height: 75%;
  }
  .sub-heading-text {
    font-size: 150%;
  }
  .item-full {
    height: 100%;
  }
  .item {
    height: 75%;
  }

  .description {
    font-size: 125%;
  }
  .quantity {
    font-size: 125%;
  }

  .sub-item {
    height: 75%;
  }

  .sub-description {
    font-size: 125%;
  }

  .item-count {
    font-size: 100%;
  }

  .calculate-button button {
    font-size: 115%;
  }

}

@media all and (orientation: landscape) and (max-width: 921px) and (max-height: 639px){
  .title-style {
    font-size: 100%;
    width: 100%;
    color: #272C35;
  }
  .search-bin-container {
    height: 85%;
    width: 50%;
  }

  .search {
    top: 16%;
    left: 25%;
  }
  .right-side-container {
    height: 80%;
    width: 60%;
    right: -5%;
    top: 18%;
  }

  .receipt {
    height: 87%;
  }
  .heading {
    height: 60%;
  }
  .heading-line {
    font-size: 100%;
  }
  .heading-sub-line {
    font-size: 100%;
  }
  .sub-heading {
    height: 75%;
  }
  .sub-heading-text {
    font-size: 80%;
  }
  .item-full {
    height: 70%;
  }
  .item {
    height: 50%;
  }

  .description {
    font-size: 90%;
  }
  .quantity input {
    font-size: 90%;
  }

  .sub-item {
    height: 75%;
  }

  .sub-description {
    font-size: 90%;
  }

  .item-count {
    font-size: 80%;
  }

  .calculate-button button {
    font-size: 87%;
    height: 100%;
  }

}

@media all and (orientation: portrait) and (min-width: 331px) and (max-width: 768px){

  .search-bin-container {
    top: 0;
    width: 100%;
    height: 40%;
    margin-top: 18%;
  }

  .title-style {
    font-size: 150%;
    width: 97%;
    color: #272C35;
  }

  .search {
    width: 100%;
    top: 22%;
  }
  .bin-image {
    height: 30%;
    width: 30%;
    bottom: 25%;
    z-index: -1;
  }

  .right-side-container{
    height: 60%;
    transform: translate(0, 50%);
  }

  .receipt {
    height: 85%;
  }
  .heading-line {
    font-size: 120%;
  }
  .heading-sub-line {
    font-size: 120%;
  }

  .sub-heading-text {
    font-size: 100%;
  }

  .item-full {
    height: 70%;
  }

  .sub-description {
    font-size: 100%;
  }

  .item-count {
    font-size: 80%;
  }

  .calculate-button button {
    font-size: 150%;
    height: 100%;
  }

}

@media all and (orientation: portrait) and (min-width: 250px) and (max-width: 330px){

  .search-bin-container {
    top: 0;
    width: 100%;
    height: 40%;
    margin-top: 18%;
  }

  .title-style {
    font-size: 150%;
    width: 97%;
    top: 15%;
    color: #272C35;
  }

  .search {
    width: 100%;
    top: 22%;
  }
  .bin-image {
    height: 30%;
    width: 30%;
    bottom: 25%;
    z-index: -1;
  }

  .right-side-container{
    height: 60%;
    transform: translate(0, 50%);
  }

  .receipt {
    height: 85%;
  }
  .heading-line {
    font-size: 120%;
  }
  .heading-sub-line {
    font-size: 120%;
  }

  .sub-heading-text {
    font-size: 100%;
  }

  .item-full {
    height: 70%;
  }

  .sub-description {
    font-size: 100%;
  }

  .item-count {
    font-size: 80%;
  }

  .calculate-button button {
    font-size: 150%;
    height: 100%;
  }

}

@media all and (orientation: portrait) and (min-width: 769px) and (max-width: 1337px){

  .search-bin-container {
    top: 0;
    width: 100%;
    height: 40%;
  }

  .title-style {
    font-size: 170%;
    width: 97%;
    color: #272C35;
  }

  .search {
    top: 30%;
  }
  .bin-image {
    height: 40%;
    width: 20%;
    bottom: 5%;
    z-index: -1;
  }

  .right-side-container{
    height: 60%;
    transform: translate(0, 50%);
    width: 100%;
    left: 10%;
  }

  .receipt {
    height: 85%;
  }
  .heading-line {
    font-size: 120%;
  }
  .heading-sub-line {
    font-size: 120%;
  }

  .sub-heading-text {
    font-size: 100%;
  }

  .item-full {
    height: 70%;
  }

  .sub-description {
    font-size: 100%;
  }

  .item-count {
    font-size: 80%;
  }

  .calculate-button button {
    font-size: 150%;
    height: 100%;
  }

}

@media all and (orientation: portrait) and (max-width: 330px){

  .search-bin-container {
    top: 0;
    width: 100%;
    height: 40%;
  }

  .title-style {
    font-size: 150%;
    width: 97%;
    color: #272C35;
  }

  .search {
    width: 100%;
    top: 30%;
  }
  .bin-image {
    height: 40%;
    width: 40%;
    bottom: 5%;
    z-index: -1;
  }

  .right-side-container{
    height: 60%;
    transform: translate(0, 50%);
  }

  .receipt {
    height: 85%;
  }
  .heading-line {
    font-size: 120%;
  }
  .heading-sub-line {
    font-size: 120%;
  }

  .sub-heading-text {
    font-size: 100%;
  }

  .item-full {
    height: 70%;
  }

  .sub-description {
    font-size: 100%;
  }

  .item-count {
    font-size: 80%;
  }

  .calculate-button button {
    font-size: 115%;
    height: 100%;
  }

}
