@media (min-width: 769px) and (max-width: 1024px) {
h1 {
    background-color: #FFF6E3;
    text-align: center;
    color: #272C35;
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
  }

  .center {
    display: block;
    margin-left: 180px;
    margin-right: auto;
    margin-top: 160px;
    margin-bottom: 0px;
    width: 25%;
    height: 25%;
  }

  .bin_background {
    background-color: #FFF6E3;
    padding-bottom: 550px;
  }

  /* style of the search bar */
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);

  .search {
    width: 100%;
    position: relative;
    display: flex;
  }

  .searchTerm {
    width: 25%;
    border: 3px solid #5E8976;
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #272C35;
  }

  .searchTerm:focus{
    color: #272C35;
  }

  .searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid #5E8976;
    background: #5E8976;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 80%;
    position: absolute;
    top: 20%;
    left: 65%;
    transform: translate(-50%, -50%);
  }
}


@media (min-width: 1025px) and (max-width: 1200px) {
  h1 {
    background-color: #FFF6E3;
    text-align: center;
    color: #272C35;
    padding-top: 70px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
  }

  .center {
    display: block;
    margin-left: 215px;
    margin-right: auto;
    margin-top: 179px;
    margin-bottom: 0px;
    width: 25%;
    height: 25%;
  }

  .bin_background {
    background-color: #FFF6E3;
    padding-bottom: 600px;
  }

  /* style of the search bar */
  @import url(https://fonts.googleapis.com/css?family=Open+Sans);

  .search {
    width: 100%;
    position: relative;
    display: flex;
  }

  .searchTerm {
    width: 100%;
    border: 3px solid #5E8976;
    border-right: none;
    padding: 5px;
    height: 40px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #272C35;
  }

  .searchTerm:focus{
    color: #272C35;
  }

  .searchButton {
    width: 40px;
    height: 40px;
    border: 1px solid #5E8976;
    background: #5E8976;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 20%;
    position: absolute;
    top: 20%;
    left: 33.5%;
    transform: translate(-50%, -50%);
  }

}
