<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
  <div class="search-bin-container">
    <div class="title-style">What food have you wasted this week?</div>
    <!-- search bar -->
    <app-search-bar class="search" (onFoodPickedEvent)="addBinEntry($event)"></app-search-bar>
    <img class="bin-image" src="/assets/bin.png">
  </div>

  <!-- receipt -->
  <div class="right-side-container">
    <div class="receipt">
      <!-- receipt heading -->
      <div class="heading">
        <div class="heading-line">Your binned items</div>
        <div class="heading-sub-line">This week</div>
      </div>

      <div class="sub-heading">
        <div class="sub-heading-text">ITEM</div>
        <div class="sub-heading-text">AMOUNT</div>
      </div>

      <!-- receipt items -->
      <cdk-virtual-scroll-viewport itemSize="50" class="item-full">
        <div class="item" *ngFor="let bin of binList">
          <b class="mad-closing-class" (click)="removeBinEntry(bin)">X</b>
          <div class="description">
            {{bin.food}}
          </div>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <div class="quantity">
            <button class="minus-btn" type="button" (click)="decrementQuantity(bin)">
              <span class="glyphicon glyphicon-minus"></span>
            </button>
            <input type="text" value="{{bin.quantity}}">
            <button class="plus-btn" type="button" (click)="incrementQuantity(bin)">
              <span class="glyphicon glyphicon-plus"></span>
            </button>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>

      <!-- receipt totals -->
      <div class="sub-item">
        <div class="sub-description">
          <span>ITEM COUNT</span>
        </div>
        <div class="item-count">{{runningTotal}}</div>
      </div>
    </div>

      <!-- calculate button -->
      <div class="calculate-button">
        <button (click)="toStats()">Calculate money wasted</button>
      </div>
  </div>
</div>
