
h1 {
  background-color: #FFF6E3;
  text-align: center;
  color: #272C35;
  padding-top: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 2em;
}

img {
  background-color: #FFF6E3;
}

.center {
  display: block;
  margin-left: 100px;
  margin-right: auto;
  margin-top: 200px;
  margin-bottom: 0px;
  width: 30%;
  height: 30%;
}

.bin_background {
  background-color: #FFF6E3;
}
